.container{

    flex: 1;
    align-self: center;
    width: 50%;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
ol{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #777
}