.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;

  margin-bottom: 10%;
}

input {
  width: 600px;
  
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 28px;
  font-weight: 400;
  padding: 20px;
  background-color: #E9ECED;
}
.inputContainer {
    display: flex
;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #777777a3;
    padding: 0 10px;
    border-radius: 50px;
    box-shadow: 1px 2px 7px #77777761
}
img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  left: 30%;
  cursor: pointer;
}
.waveAnimation {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3{
    color: #125766;
  }
}
.loadingWrapper {
  position: absolute;
  top: 60%;
}
.loading {
  font-size: 20px;
  color: #125766;
}

.onOFF {
  cursor: pointer;

  margin-left: 20px;
  position: absolute;
  left: 20%;
}
.mic{
  cursor: pointer;
  opacity: .5;
transition: all .2s linear;
width: 35px;
height: 35px;
object-fit: cover;
padding-left: 10px;
  &:hover{
    opacity: 1;
    
  }
}