
*{
  padding: 0;
  margin: 0;
  text-align: right;
}


body{
text-align: right;
background-color: #E9ECED;
  font-family: 'Poppins';
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.response{
  font-size: 20px;
  width: 50%;
  line-height: 1.3;
  flex: 1;
  p{
    color: #3c3c3c;
  }
}

.ai-response{

  color: #125766;
  font-weight: bold;
}